[submodule "fusion/tools/star_fusion"]
	path = fusion/tools/STAR-fusion
	url = https://github.com/STAR-Fusion/STAR-Fusion.git
[submodule "fusion/tools/discasm"]
	path = fusion/tools/DISCASM
	url = https://github.com/DISCASM/DISCASM.git
[submodule "fusion/tools/gmap_fusion"]
	path = fusion/tools/GMAP-fusion
	url = https://github.com/GMAP-fusion/GMAP-fusion.git
[submodule "fusion/tools/FusionAnnotator"]
	path = fusion/tools/FusionAnnotator
	url = https://github.com/FusionAnnotator/FusionAnnotator.git
[submodule "cnv/inferCNV"]
	path = cnv/inferCNV
	url = https://github.com/broadinstitute/inferCNV
[submodule "fusion/tools/FusionInspector"]
	path = fusion/tools/FusionInspector
	url = https://github.com/FusionInspector/FusionInspector.git
[submodule "lncrna/SciEDPipeR"]
	path = lncrna/SciEDPipeR
	url = https://github.com/SciEDPipeR/SciEDPipeR.git
[submodule "genome_guided_transcript_reconstruction/SciEDPipeR"]
	path = genome_guided_transcript_reconstruction/SciEDPipeR
	url = https://github.com/SciEDPipeR/SciEDPipeR.git
[submodule "expression/SciEDPipeR"]
	path = expression/SciEDPipeR
	url = https://github.com/SciEDPipeR/SciEDPipeR.git
[submodule "mutation/SciEDPipeR"]
	path = mutation/SciEDPipeR
	url = https://github.com/SciEDPipeR/SciEDPipeR.git
[submodule "lncrna/slncky"]
	path = lncrna/slncky
	url = https://github.com/slncky/slncky.git
[submodule "metagenomics/SciEDPipeR"]
	path = metagenomics/SciEDPipeR
	url = https://github.com/SciEDPipeR/SciEDPipeR.git
[submodule "Trinity_CTAT.wiki"]
	path = Trinity_CTAT.wiki
	url = https://github.com/NCIP/Trinity_CTAT.wiki.git
[submodule "Fusion-Transcript-Prediction/STAR-Fusion"]
	path = Fusion-Transcript-Prediction/STAR-Fusion
	url = https://github.com/STAR-Fusion/STAR-Fusion.git
[submodule "Fusion-Transcript-Prediction/TrinityFusion"]
	path = Fusion-Transcript-Prediction/TrinityFusion
	url = https://github.com/trinityrnaseq/TrinityFusion.git
