.nav-tabs > li .close
{
  margin: -2px 0 0 10px;
}

#trackList
{
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    font-weight: 400;
}

div#trackList > div, div#trackList > h3 
{
    color: #444;
    margin-left: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 32px;
    width: 300px;
}

div#trackList > div:hover,
div#trackList > div:focus,
div#trackList > div:active 
{
    cursor: pointer;
    color: white;
    background-color: rgba(49, 106, 246, 1);
}

.igv-viewport-div 
{
    overflow-y: auto;
}
